{% extends 'base.html.twig' %} {% block title %}Gestion des UEs{% endblock %} {%
block body %}

<table class="table">
  <thead>
    <tr>
      <th>Code</th>
      <th>Nom</th>
      {#
      <th>Image</th>
      #}
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for ue in ues %}
    <tr>
      <td>{{ ue.codeUE }}</td>
      <td>{{ ue.nomUE }}</td>
      {#
      <td>
        {% if ue.imageUE %}
        <img
          src="data:image/png;base64,{{ ue.imageUE | base64_encode }}"
          alt="UE Image"
          class="ue-image"
        />
        {% else %} No Image {% endif %}
      </td>

      <td>
        <a href="{{ path('app_u_e_show', { id: new_ue.id }) }}">show</a>
        <a href="{{ path('app_u_e_edit', { id: new_ue.id }) }}">edit</a>
      </td>
      #}
    </tr>
    {% else %}
    <tr>
      <td colspan="4">Aucune UE trouvée.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{{ path('app_u_e_new') }}">Create new</a>

{% endblock %}
