{% extends 'base.html.twig' %}

{% block title %}Gestion des UEs{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/style-ue.css') }}" />
{% endblock %}

{% block body %}
<main>
    <div class="main-container">
        <div class="header">
            <h1>Gestion des UEs</h1>
            <a href="{{ path('app_u_e_new') }}" class="btn btn-add">Ajouter une UE</a>
        </div>

        <table class="styled-table">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Nom</th>
                    {#<th>Image</th>#}
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for ue in u_es %}
                    <tr>
                        <td>{{ ue.codeUE }}</td>
                        <td>{{ ue.nomUE }}</td>
                        {#<td>
                            {% if ue.imageUE %}
                                <img src="data:image/png;base64,{{ ue.imageUE|base64_encode }}" alt="UE Image" class="ue-image">
                            {% else %}
                                No Image
                            {% endif %}


                        </td>
                        
                        <td>
                            {% if ue.idUE is defined and ue.idUE is not null %}
                                <a href="{{ path('app_u_e_edit')}}" class="btn btn-edit">Modifier</a>
                                <form method="post" action="{{ path('app_u_e_delete', { id: ue.idUE }) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette UE ?');" style="display:inline;">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ue.idUE) }}">
                                    <button class="btn btn-delete">Supprimer</button>
                                </form>
                            {% else %}
                                <span>Invalid UE</span>
                            {% endif %}
                         </td>#}
                        
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">Aucune UE trouvée.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}