{% extends 'base.html.twig' %} {% block title %}Ue index{% endblock %} {%
block body %}
<h1>Ue index</h1>

<table class="table">
  <thead>
    <tr>
      <th>Code_ue</th>
      <th>Nom_ue</th>
      <th>Image_ue</th>
      <th>actions</th>
    </tr>
  </thead>
  <tbody>
    {% for ue in ues %}
    <tr>
      <td>{{ ue.codeUe }}</td>
      <td>{{ ue.nomUe }}</td>
      <td>{{ ue.imageUe }}</td>
      <td>
        <a href="{{ path('app_new_ue_show', { id: ue.codeUE }) }}">show</a>
        <a href="{{ path('app_new_ue_edit', { id: ue.codeUE }) }}">edit</a>
      </td>
    </tr>
    {% else %}
    <tr>
      <td colspan="5">no records found</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{{ path('app_new_ue_new') }}">Create new</a>
{% endblock %}
