{% extends 'base.html.twig' %}

{% block title %}UE{% endblock %}

{% block body %}
    <h1>UE</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdUE</th>
                <td>{{ u_e.idUE }}</td>
            </tr>
            <tr>
                <th>CodeUE</th>
                <td>{{ u_e.codeUE }}</td>
            </tr>
            <tr>
                <th>NomUE</th>
                <td>{{ u_e.nomUE }}</td>
            </tr>
            <tr>
                <th>ImageUE</th>
                <td>{{ u_e.imageUE }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_u_e_index') }}">back to list</a>

    <a href="{{ path('app_u_e_edit', {'idUE': u_e.idUE}) }}">edit</a>

    {{ include('ue/_delete_form.html.twig') }}
{% endblock %}
