<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/png" href="{{ asset('Images/moodle-icon.png') }}">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('styles/style.css') }}" />
        <link
        href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
        rel="stylesheet"
        />
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </head>
    <body>
        <nav>
            <img id="logo" src="{{ asset('Images/utbm-blanc.png') }}" class="hideOnMobile" alt="Logo" />

            <ul class="sidebar">
                
                <a id="link-hamburger" href="#">
                <li onclick="hideSidebar()">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="26"
                        viewBox="0 96 960 960"
                        width="26"
                    >
                        <path
                        d="m249 849-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z"
                        />
                    </svg>
                    </li>
                </a>
                
                
                <li>
                    <a href="#"
                    ><span class="material-icons-sharp">dashboard</span>Dashboard</a
                    >
                </li>
                <li>
                    <a href="{{ path('choixUE') }}"
                    ><span class="material-icons-sharp">school</span>My Courses</a
                    >
                </li>
                <li>
                    <a href="#"
                    ><span class="material-icons-sharp">settings</span>Settings</a
                    >
                </li>
                
                <li>
                    <a href="{{ path('app_logout') }}"
                    ><span class="material-icons-sharp">logout</span>Logout</a
                    >
                </li>
            </ul>
            <ul class="navbar">
                <li class="menu-button" onclick="showSidebar()">
                    <a href="#">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            height="26"
                            viewBox="0 96 960 960"
                            width="26"
                        >
                        <path
                            d="M120 816v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z"
                            />
                        </svg>
                    </a>
                </li>
                
                <li class="hideOnMobile">
                    <a href="#"
                    ><span class="material-icons-sharp">dashboard</span>Dashboard</a
                    >
                </li>
                <li class="hideOnMobile">
                    <a href="{{ path('choixUE') }}"
                    ><span class="material-icons-sharp">school</span>My Courses</a
                    >
                </li>
                <li class="hideOnMobile">
                    <a href="#"
                    ><span class="material-icons-sharp">settings</span>Settings</a
                    >
                </li>
                <li class="hideOnMobile">
                    <a href="{{ path('app_logout') }}"
                    ><span class="material-icons-sharp">logout</span>Logout</a
                    >
                </li>
            </ul>
        </nav>
        {% block body %}{% endblock %}
        <script src="{{ asset('sidebar.js') }}"></script>
    </body>
</html>
