{% extends 'base.html.twig' %} {% block stylesheets %}
<link rel="stylesheet" href="{{ asset('styles/choixUE-etu.css') }}" />
{% endblock %} {% block body %}
<main>
  <div class="header">
    <h1>Tableau de bord</h1>
    <h2>Bienvenue {{ app.user.prenomUser }} 👋🏼</h2>
  </div>

  <hr class="divider" />

  <div class="section">
    <h1>Fils d'actualité</h1>
    <div>
      <label for="notiCount">Afficher:</label>
      <select id="notiCount">
        <option value="4">4</option>
        <option value="all">Tous</option>
      </select>
    </div>
  </div>

  <hr class="divider" />

  <div class="noti-navigation" aria-label="Notification navigation">
      {% for actualite in actualites %}
          <a href="{{ path('contenu_UE', { code_ue: actualite.codeUE.codeUE }) }}" class="boxnoti">
              <div class="messagenoti">
                  <div class="text-content">
                      <h2>{{ actualite.codeUE.codeUE }}</h2>
                      <h3>{{ actualite.descriptionAct }}</h3>
                  </div>
                  <div class="datetimebadge">
                      {{ actualite.datetimeAct|date('d/m/Y H:i') }}
                  </div>
              </div>
          </a>
      {% else %}
          <p>Aucune actualité pour le moment.</p>
      {% endfor %}
  </div>

  <hr class="divider" />

  <div class="section">
    <h1>Mes cours</h1>
    <div>
      <label for="courseCount">Afficher:</label>
      <select id="courseCount">
        <option value="4">4</option>
        <option value="all">Tous</option>
      </select>
    </div>
  </div>

  <hr class="divider" />

  <div class="course-navigation" aria-label="Course navigation">
    {% for ue in ues %}
    <a
      href="{{ path('contenu_UE', { code_ue: ue.getCodeUE() }) }}" {# Lien vers le cours #}
      class="boxUE" {# Class pour le style UE #}
      style="background-image: url('{% if ue.getImageUE() and ue.getImageMimeTypeUE() %}{{     
        path('ue_image', { code_ue: ue.getCodeUE() }) 
      }}{% else %}{{ asset('images/imageUE.jpg') }}{% endif %}');" {# Afficher une image par defaut si aucune image est assigner a l'UE #}
    >
      <div class="codeUE">
        <h4>{{ ue.getCodeUE() }}: {{ ue.nomUE }}</h4>
      </div>
    </a>
    {% else %}
    <li>Vous n'êtes inscrit à aucune UE.</li>
    {% endfor %}
  </div>
</main>

{% endblock %} {% block script %}
<script src="{{ asset('choixUE.js') }}"></script>
{% endblock %}
