{% extends 'base.html.twig' %}

{% block title %}Gestion du compte{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/editProfile.css') }}" />
{% endblock %}

{% block body %}
    <main>
        <div class="box"><h3>Accueil/Gestion du compte</h3></div>
        <h2>General</h2>

        <div>
            <div class="profile-header">
                <div class="picture-container">
                    <div class="picture">
                        {% if app.user.imageUser %}
                            <img src="{{ asset('uploads/images/' ~ app.user.imageUser) }}" 
                                alt="Current profile picture" class="profile-image">
                               
                        {% else %}
                            <img src="/images/default-profile.png"
                                alt="Default profile picture" class="profile-image">
                        {% endif %}
                    </div>
                    <div class="name">
                        <h1>{{ app.user.nomUser }} {{ app.user.prenomUser }}</h1>
                    </div>
                </div>
            </div>

            {{ form_start(form, {'attr': {'class': 'profile-form'}}) }}
                <div class="form-group">
                    {{ form_row(form.imageFile) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.prenomUser, {
                        'label': 'Prénom',
                        'attr': {'class': 'form-control'}
                    }) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.nomUser, {
                        'label': 'Nom',
                        'attr': {'class': 'form-control'}
                    }) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.password, {
                        'label': 'Mot de passe',
                        'attr': {
                            'class': 'form-control',
                            'placeholder': 'Leave blank to keep current password'
                        }
                    }) }}
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
            {{ form_end(form) }}
        </div>
    </main>
{% endblock %}