{% extends 'base.html.twig' %}

{% block title %}
{% if slug == 'edit' %}
    Modifier Post ID {{ id }}
{% else %}
    Créer Nouveau Post
{% endif %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/style-contenu-ue.css') }}" />
{% endblock %}

{% block body %}
  <main>
    <h1>{{ue.codeUe}} - {{ ue.nomUe }}</h1>
    <ul id="navbar-ue">
      <a href="{{ path('contenu_UE', { 'code_ue': ue.getCodeUE() }) }}" id="selected"><li><span class="material-icons-sharp">school</span><b>Course</b></li></a>
      <a href="{{ path('participants_UE', { 'code_ue': ue.getCodeUE() }) }}"><li><span class="material-icons-sharp">group</span>Participants</li></a>
    </ul>
    <div id="div-form">
        <div class="post-tabs">
            <button class="tablinks active" onclick="openTab(event, 'msgtxt')">Message Texte</button>
            <button class="tablinks" onclick="openTab(event, 'partagefic')">Partage Fichier</button>
        </div>
        <div id="msgtxt" class="form-container tabcontent">
            <h2><b>
            {% if slug == 'edit' %}
                Modifier Post ID {{ id }}
            {% else %}
                Créer Nouveau Post
            {% endif %}
            </b></h2>
            
            <div class="form-group">
                <label for="title">Titre</label>
                <input type="text" id="title">
            </div>

            <div class="form-group">
                <label for="type">Type</label>
                <select id="type">
                    <option>Important</option>
                    <option>Normal</option>
                    <option>Optionnel</option>
                </select>
            </div>

            <div class="form-group">
                <label for="text">Texte</label>
                <textarea id="text"></textarea>
            </div>

            <div class="form-actions">
                <button class="btn">Créer</button>
            </div>
        </div>
        <div id="partagefic" class="form-container tabcontent">
            <h2><b>
            {% if slug == 'edit' %}
                Modifier Post ID {{ id }}
            {% else %}
                Créer Nouveau Post
            {% endif %}
            </b></h2>
            
            <div class="form-group">
                <label for="title">Titre</label>
                <input type="text" id="title">
            </div>

            <div class="form-group">
                <label for="text">Texte</label>
                <textarea id="text"></textarea>
            </div>

            <div class="form-group">
                <input type="file">
            </div>

            <div class="form-actions">
                <button class="btn">Créer</button>
            </div>
        </div>
    </div>
  </main>
{% endblock %}

{% block script %}
    <script src="{{ asset('contenu-ue.js') }}"></script>
{% endblock %}