{% extends 'base.html.twig' %}

{% block title %}{{ ue.getCodeUE() }} - {{ ue.getNomUE() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/style-contenu-ue.css') }}" />
{% endblock %}

{% block body %}
  <main>
    <h1>{{ ue.getCodeUE() }} {{ ue.getNomUE() }}</h1>
    <ul id="navbar-ue">
      <a href="{{ path('contenu_UE', { 'code_ue': ue.getCodeUE() }) }}" id="selected"><li><span class="material-icons-sharp">school</span><b>Course</b></li></a>
      <a href="{{ path('participants_UE', { 'code_ue': ue.getCodeUE() }) }}"><li><span class="material-icons-sharp">group</span>Participants</li></a>
    </ul>

    {% if is_granted('ROLE_PROF') or is_granted ('ROLE_PROF_ADMIN') %}
    <a href="{{ path('new_post', { 'slug': 'new' ,'code_ue': ue.getCodeUE() }) }}" id="btn-add-post">
      <span class="material-icons-sharp">add</span>
      <b>AJOUTER POST</b>
    </a>
    {% endif %}
    
    <ul id="posts">
      {% for post in posts %}
      <li class="post">
        <div class="post-title">
          <div class="post-title-text">
          
            <span class="material-icons-sharp">
            {% if post.getTypePost() == 'fichier' %}
            description
            {% elseif post.getTypeMessage() == 'important' %}
            priority_high
            {% elseif post.getTypeMessage() == 'information' %}
            mail
            {% elseif post.getTypeMessage() == 'optionnel' %}
            recommend
            {% endif %}
            </span>

            {% if post.getTypePost() == 'fichier' %}<a href="{{ path('post_download', {'post_id': post.getId()}) }}">{% endif %}

            <span><h3>{{ post.getTitrePost() }}</h3></span>

            {% if post.getTypePost() == 'fichier' %}</a>{% endif %}

            {% if is_granted('ROLE_PROF') or is_granted ('ROLE_PROF_ADMIN')%}
            <a href="{{ path('edit_post', { 'id': 1, 'slug': 'edit', 'code_ue': ue.getCodeUE() }) }}"><span class="material-icons-sharp btn-edit-post">edit_note</span></a>
            <a href="#"><span class="material-icons-sharp btn-edit-post delete-btn" onclick="openModal()">delete</span></a>
            {% endif %}
            
          </div>
          <div class="post-time">
            <p>{{ post.getDatetimePost()|date('d/m/Y H:i') }}</p>
          </div>
        </div>
        <p class="description">{{ post.getDescriptionPost()|nl2br|raw }}</p>
        <button class="read-more-btn">Lire plus</button>
      </li>
      {% else %}
        <li class="post">Aucun post pour cette UE.</li>
      {% endfor %}

    </ul>

    <div class="modal" id="deleteModal">
        <div class="modal-content">
            <p>Voulez-vous vraiment supprimer ce post?</p>
            <div class="modal-buttons">
                <button class="confirm-btn" onclick="confirmDelete()">Yes</button>
                <button class="cancel-btn" onclick="closeModal()">Cancel</button>
            </div>
        </div>
    </div>
  </main>
{% endblock %}

{% block script %}
    <script src="{{ asset('contenu-ue.js') }}"></script>
{% endblock %}