{% extends 'base.html.twig' %}

{% block title %}{{ ue.getCodeUE() }} - {{ ue.getNomUE() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/style-contenu-ue.css') }}" />
{% endblock %}

{% block body %}
  <main>
    <div class="box">
      <h3>
          <a href="{{ path('choixUE') }}">Accueil</a>
          <span>/</span>
        <a href="{{ path('contenu_UE', { 'code_ue': ue.getCodeUE() }) }}">{{ ue.getCodeUE() }}</a>
      </h3>
    </div>
    <h1>{{ ue.getCodeUE() }} {{ ue.getNomUE() }}</h1>
    <ul id="navbar-ue">
      <a href="{{ path('contenu_UE', { 'code_ue': ue.getCodeUE() }) }}" id="selected"><li><span class="material-icons-sharp">school</span><b>Course</b></li></a>
      <a href="{{ path('participants_UE', { 'code_ue': ue.getCodeUE() }) }}"><li><span class="material-icons-sharp">group</span>Participants</li></a>
    </ul>

    {% if is_granted('ROLE_PROF') or is_granted ('ROLE_PROF_ADMIN') %}
    <button id="btn-add-post" onclick="openModalNewPost()">
      <span class="material-icons-sharp">add</span>
      <b>AJOUTER POST</b>
    </button>
    {% endif %}

    <ul id="posts-ep">
      {% for post in posts_ep %}
      <li class="post-ep" id="post-{{ post.id }}">
        {% include 'post/show-epingle.html.twig' %}
      </li>
      {% else %}
        <li class="post-ep">Aucun post épinglé pour cette UE.</li>
      {% endfor %}
    </ul>
    
    <ul id="posts">
      {% for post in posts %}
      <li class="post" id="post-{{ post.id }}">
        {% include 'post/show.html.twig' %}
      </li>
      {% else %}
        <li class="post">Aucun post pour cette UE.</li>
      {% endfor %}
    </ul>

    {% include 'post/delete.html.twig' %}

    {% include 'post/new.html.twig' %}

    {% include 'post/edit.html.twig' %}

  </main>
{% endblock %}

{% block script %}
    <script src="{{ asset('contenu-ue.js') }}"></script>
{% endblock %}