{# template pour afficher un post épinglé #}

<div class="post-title">
    <div class="post-title-text">
    
    <span class="material-icons-sharp"
    title="
    {% if post.getTypePost() == 'fichier' %}
        Fichier
    {% elseif post.getTypeMessage() == 'important' %}
        Important
    {% elseif post.getTypeMessage() == 'information' %}
        Information
    {% elseif post.getTypeMessage() == 'optionnel' %}
        Optionnel
    {% endif %}
    " style="cursor: pointer;">
    {% if post.getTypePost() == 'fichier' %}
    description
    {% elseif post.getTypeMessage() == 'important' %}
    priority_high
    {% elseif post.getTypeMessage() == 'information' %}
    mail
    {% elseif post.getTypeMessage() == 'optionnel' %}
    recommend
    {% endif %}
    </span>

    {% if post.getTypePost() == 'fichier' %}
        {% if post.getDepotPostBlob() and post.getDepotPostName() ends with '.pdf' %}
        <a href="{{ path('pdf_view', {'code_ue': ue.getCodeUE(), 'idPost': post.getId()}) }}" 
        target="_blank"
        rel="noopener noreferrer">
        {% else %}
        <a href="{{ path('post_download', {'code_ue': ue.getCodeUE(), 'idPost': post.getId()}) }}">
        {% endif %}
    {% endif %}
    

    <span><h3>{{ post.getTitrePost() }}</h3></span>

    {% if post.getTypePost() == 'fichier' %}</a>{% endif %}

    {% if is_granted('ROLE_PROF') or is_granted ('ROLE_PROF_ADMIN')%}
    
    <button class="edit-button" onclick="openModalEditPost(this)" data-post-id="{{ post.id }}">
    <span class="material-icons-sharp btn-edit-post">edit_note</span></button>
    
    <button class="delete-button" data-id="{{ post.id }}" data-code="{{ ue.getCodeUE() }}" data-token="{{ csrf_token('delete-post') }}">
        <span class="material-icons-sharp" id="delete-button">delete</span>
    </button>
    {% endif %}
    
    </div>
    <div class="container-ep">
        <div class="post-time-ep">
            <p>Épinglé par {{ post.getEpingleur().getNomUser() }}</p>
        </div>
        <div class="post-time-ep">
            <p>{{ post.getDatetimePost()|date('d/m/Y H:i') }}</p>
        </div>
    </div>

</div>
<p class="description">{{ post.getDescriptionPost()|nl2br|raw }}</p>
<button class="read-more-btn">Lire plus</button>