{% extends 'base.html.twig' %}

{% block title %}User Details{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/style-admin.css') }}" />
{% endblock %}

{% block body %}
    <main>
        <div class="main-container">
            <h1 class="page-title">Profile User</h1>

            <div class="table-container">
                <table class="styled-table">
                    <tbody>
                        <tr>
                            <th>ID User</th>
                            <td>{{ user.id }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <th>Roles</th>
                            <td>{{ user.roles ? user.roles|join(', ') : 'No roles assigned' }}</td>
                        </tr>
                        <tr>
                            <th>Password</th>
                            <td>********</td> {# Hide the password for security reasons #}
                        </tr>
                        <tr>
                            <th>Nom</th>
                            <td>{{ user.nomUser }}</td>
                        </tr>
                        <tr>
                            <th>Prénom</th>
                            <td>{{ user.prenomUser }}</td>
                        </tr>
                        <tr>
                            <th>Profile Image</th>
                            <td>
                                {% if user.imageUser %}
                                    <img src="{{ asset('uploads/' ~ user.imageUser) }}" alt="Profile Image" class="profile-image">
                                {% else %}
                                    No image uploaded
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="action-buttons">
                <a href="{{ path('app_user_index') }}" class="btn btn-primary">Back to List</a>
                <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-mod">Edit</a>
                {{ include('user/_delete_form.html.twig') }}
            </div>
        </div>
    </main>
{% endblock %}